<!-- MHonArc v2.6.16 -->
<!--X-Subject: r12399 &#45; /1.3/docs/latex/relax.tex -->
<!--X-From-R13: rqjneqNaze&#45;erynk.pbz -->
<!--X-Date: Fri, 21 Jan 2011 10:06:44 +0100 -->
<!--X-Message-Id: E1PgCxA&#45;0000i7&#45;PC@subversion.gna.org -->
<!--X-Content-Type: text/plain -->
<!--X-Head-End-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>r12399 - /1.3/docs/latex/relax.tex -- January 21, 2011 - 10:06</title>
<link rel="stylesheet" type="text/css" href="/mail.gna.org/archives-color-gna.css"> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<!--X-Body-Begin-->
<!--X-User-Header-->
<!--X-User-Header-End-->
<!--X-TopPNI-->
<h2><img src="/mail.gna.org/images/mail.orig.png" width="48" height="48"
alt="mail" class="pageicon" />r12399 - /1.3/docs/latex/relax.tex</h2>
<br />
<div class="topmenu">
<a href="../" class="tabs">Others Months</a> | <a href="index.html#00339" class="tabs">Index by Date</a> | <a href="threads.html#00339" class="tabs">Thread Index</a><br />
<span class="smaller">&gt;&gt;&nbsp;&nbsp;
[<a href="msg00338.html">Date Prev</a>] [<a href="msg00340.html">Date Next</a>] [<a href="msg00338.html">Thread Prev</a>] [<a href="msg00340.html">Thread Next</a>]
</div>

<!--X-TopPNI-End-->
<!--X-MsgBody-->
<!--X-Subject-Header-Begin-->
<h3><a name="header" href="#header">Header</a></h3>
<!--X-Subject-Header-End-->
<!--X-Head-of-Message-->
<ul class="headdata">
<li class="menuitem">
<em>To</em>: relax-commits@xxxxxxx</li>
<li class="menuitem">
<em>Date</em>: Fri, 21 Jan 2011 09:06:44 -0000</li>
<li class="menuitem">
<em>Message-id</em>: &lt;<a href="msg00339.html">E1PgCxA-0000i7-PC@subversion.gna.org</a>&gt;</li>
</ul>
<!--X-Head-of-Message-End-->
<!--X-Head-Body-Sep-Begin-->
</div><!-- end headdata -->
<br />
<h3><a name="content" href="#content">Content</a></h3>
<div class="postedby">Posted by <strong>edward</strong> on January 21, 2011 - 10:06:</div>
<div class="msgdata">
<!--X-Head-Body-Sep-End-->
<!--X-Body-of-Message-->
<pre style="margin: 0em;">Author: bugman
Date: Fri Jan 21 10:06:44 2011
New Revision: 12399

URL: <a  rel="nofollow" href="http://svn.gna.org/viewcvs/relax?rev=12399&amp;view=rev">http://svn.gna.org/viewcvs/relax?rev=12399&amp;view=rev</a>
Log:
Added '../../' to the graphicspath so that the relax 'graphics' directory is 
accessible.


Modified:
    1.3/docs/latex/relax.tex

Modified: 1.3/docs/latex/relax.tex
URL: 
<a  rel="nofollow" href="http://svn.gna.org/viewcvs/relax/1.3/docs/latex/relax.tex?rev=12399&amp;r1=12398&amp;r2=12399&amp;view=diff">http://svn.gna.org/viewcvs/relax/1.3/docs/latex/relax.tex?rev=12399&amp;r1=12398&amp;r2=12399&amp;view=diff</a>
==============================================================================
--- 1.3/docs/latex/relax.tex (original)
+++ 1.3/docs/latex/relax.tex Fri Jan 21 10:06:44 2011
@@ -71,6 +71,8 @@
 % Allow the maths blocks to be broken!!!
 \allowdisplaybreaks[1]
 
+% Set the graphics path to the parent relax directory.
+\graphicspath{{../../}}
 
 % Make the index.
 \makeindex



</pre>
<!--X-Body-of-Message-End-->
<!--X-MsgBody-End-->
<!--X-Follow-Ups-->
</div><!-- end msgdata -->
<br />
<h3><a name="related" href="#related">Related Messages</a></h3>
<div class="relateddata">
<!--X-Follow-Ups-End-->
<!--X-References-->
<!--X-References-End-->
<!--X-BotPNI-->
</div><!-- end relateddata -->
<!-- NoBotLinksApartFromRelatedMessages -->

<!--X-BotPNI-End-->
<!--X-User-Footer-->
<!--X-User-Footer-End-->
<div class="footer"></div><br />
<div class="right">Powered by <a href="http://www.mhonarc.org">MHonArc</a>, Updated Fri Jan 21 10:20:02 2011</div>  
</body>
</html>
