/*
 * Section:  Main body of the webpage
 */

body {
    margin:0%;
    padding:0%;
    color:#000000;
    background-color:#e5feff;
}

/* Div box to clear the page and start the next box at the very bottom of everything else */
.clear {
    clear:both;
    padding-top:0.1em;
}



/*
 * Section:  Image formatting
 */

.image {
    color:inherit;
    border:0em;
}



/*
 * Section:  The header
 */

.header_image {
    float:left;
    width:22%;
    text-align:center;
    padding:10px;
}
.header {
    padding:10px;
    margin-left:24%;
    padding-left:2%;
    min-height:105px;
}

p#headline {
    font-size:x-large;
}

p#tagline {
    font-size: 0.7em;
    margin-top: -1.5em;
}

/* Mobile header */
@media screen and (max-width: 600px) {
    .header {
        display:none;
    }

    .header_image {
        display:none;
    }
}



/*
 * Section:  Middle section of the page
 */

.middle {
}



/*
 * Section:  The menu system
 */

.menu {
    float:left;
    width:22%;
    height:auto;
    margin-left:1%;
    line-height:150%;
    background-color:#b8edff;
    border:thin solid #88cbff;
}

/* Turn off the mobile menu icons */
.mobile_relax_icon {
    display: none;
}
.menu a.icon {
    display: none;
}

.menu_header {
    font-weight:bold;
    font-size:large;
    text-align : center;
    background-color:#56ded5;
    color:#00004F;
    padding-top:10px;
    padding-bottom:10px;
}

.menu_title {
    font-weight : bold;
    padding-top:1em;
    text-indent : 5%;
    border-bottom:thin solid #88cbff;
}

.menu_def {
    text-indent : 5%;
    color:#3179ac;
}

.menu_def_collapsable {
    text-indent : 5%;
    cursor : pointer;
    color : #0017aa;
}

.submenu {
    display : none;
}

.submenu_def {
    text-indent : 10%;
    display : block;
}

/* Mobile menu */
@media screen and (max-width: 600px) {
    /* Hide the header. */
    .menu_header {
        display: none;
    }

    /* Redefine the menu. */
    .menu {
        margin: 0 0 0 0;
        float: none;
        width: 100%;
        overflow: hidden;
    }
    .menu_title {
        padding: 14px 16px;
        text-indent: 0;
    }
    .menu_def {
        text-indent: 0;
    }
    .menu_def_collapsable {
        padding: 14px 16px;
        font-size: 17px;
        text-indent: 0;
    }

    /* Default hide the elements. */
    .menu #menu_elements {
        display: none;
    }

    /* Show the mobile relax icon. */
    .mobile_relax_icon {
        display: block;
    }

    /* Menu item formatting. */
    .menu a {
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    /* Menu icon formatting. */
    .menu a.icon {
        margin: 0 0 0 0;
        background: #56ded5;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Change the hover colours. */
    .menu a:hover {
        background-color: #00004F;
        color: white;
    }
}



/*
 * Section:  The main text box
 */

.main {
    margin:0 1% 0 24%;
    background-color:white;
    border-top : thin solid #88cbff;
    border-left : thin solid #88cbff;
    border-right : thin solid #88cbff;
}
@media screen and (max-width: 600px) {
    .main {
        margin: 0 0 0 0;
        border-left: none;
        border-right: none;
    }
}

.main_box {
    padding-left:2%;
    padding-right:2%;
    padding-bottom:2%;
    border-bottom:thin solid #88cbff;
}

.main_h2 {
    border-top:thin solid #88cbff;
}

.main_ul {
    margin-top:0px;
    padding:0px;
    list-style:none;
}



/*
 * Section:  The footer
 */

.footer {
    margin:1%;
    padding-left:1em;
    padding-right:1em;
    padding-top:1em;
    padding-bottom:1em;
    background-color:white;
    border:thin solid #88cbff;
}

.footer_left {
    float:left;
    text-align:left;
    font-size:x-small;
}

.footer_right {
    float:right;
    text-align:right;
    font-size:x-small;
}

/* Mobile footer */
@media screen and (max-width: 600px) {
    .footer {
        margin: 0;
    }
}


/*
 * Section:  Table formatting
 */

.book_td {
    vertical-align: top;
}

.conf-table td {
	padding: 10px 10px 10px 10px;
	vertical-align: top;
}

.conf-subtable tr td {
	padding: 0px 0px 0px 0px;
	vertical-align: top;
}

.conf-table-icon {
    float: left;
    width: 120px;
	padding: 0px 0px 0px 0px;
    text-align:center;
}
@media screen and (max-width: 600px) {
    .conf-table-icon {
        padding-top: 20px;
        float: none;
    }
}

.conf-table-title {
    font-style:italic;
	vertical-align: bottom;
    width: 18%;
}

.dep_table {
    border-collapse: collapse;
    width: 50%;
    border: thin solid rgba(136,203,255,0.3);
    margin-left: 1%;
    margin-bottom: 10px;
}

.dep_table td {
    padding: 10px;
}

.dep_td_head {
    border-bottom: thin solid rgba(136,203,255,0.3);
}

.link_tr {
    height:100px;
}

.link_logo_td {
    text-align:center;
}

.screenshot_table {
    text-align:center;
    font-size:small;
    border:0em;
    padding:0em;
    width:100%;
    border-spacing: 0em 5em;
}

.screenshot_td {
    width:33.33%;
}

.software_table {
    border-collapse: collapse;
    width: 98%;
    border: thin solid rgba(136,203,255,0.3);
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 10px;
}

.software_table td {
    padding: 10px;
}

.software_td_head {
    width: 40%;
    border-bottom: thin solid rgba(136,203,255,0.3);
}

.software_td_head1 {
    width: 40%;
    border-bottom: thin solid rgba(136,203,255,0.3);
}

.software_td_head2 {
    width: 25%;
    border-bottom: thin solid rgba(136,203,255,0.3);
}

.software_td_head3 {
    width: 17.5%;
    border-bottom: thin solid rgba(136,203,255,0.3);
}

.table_title {
    font-size:large;
}



/*
 * Section:  List formatting
 */

.code_ul {
    list-style:none;
    font-style:italic;
}

.ref_ul {
    padding:0px;
    list-style:none;
}

.ref_li {
    margin-top:20px;
}



/*
 * Section:  Link formatting
 */

a {
    text-decoration:none;
    color:#0017aa;
    font-weight:normal;
}

a:hover {
    color:#316fff;
}
