/*  The main body of the webpage  */

body {
    margin:0%;
    padding:0%;
    color:#000000;
    background-color:#e5feff;
}


/* Div box to clear the page and start the next box at the very bottom of everything else */

.clear {
    clear:both;
    padding-top:0.1em;
}

/* Image formatting */

.image {
    color:inherit;
    border:0em;
}



/*  The header  */

.header_image {
    float:left;
    width:22%;
    text-align:center;
    padding:10px;
}

.header {
    padding:10px;
    margin-left:24%;
    padding-left:2%;
    min-height:105px;
}

p#headline {
    font-size:x-large;
}

p#tagline {
    font-size: 0.7em;
    margin-top: -1.5em;
}


/*  Middle section of the page  */

.middle {
}



/*  The menu system  */

.menu {
    float:left;
    width:22%;
    height:auto;
    margin-left:1%;
    line-height:150%;
    background-color:#b8edff;
    border:thin solid #88cbff;
}

.menu_header {
    font-weight:bold;
    font-size:large;
    text-align : center;
    background-color:#56ded5;
    color:#00004F;
    padding-top:10px;
    padding-bottom:10px;

}

.menu_title {
    font-weight : bold;
    padding-top:1em;
    text-indent : 5%;
    border-bottom:thin solid #88cbff;
}

.menu_def {
    text-indent : 5%;
    color:#3179ac;
}

.menu_ul {
    margin-top:0px;
    padding:0px;
    list-style:none;
}



/*  The main text box  */

.main {
    margin:0 1% 0 24%;
    background-color:white;
    border-top : thin solid #88cbff;
    border-left : thin solid #88cbff;
    border-right : thin solid #88cbff;
}

.main_box {
    padding-left:2%;
    padding-right:2%;
    padding-bottom:2%;
    border-bottom:thin solid #88cbff;
}

.main_h2 {
    border-top:thin solid #88cbff;
}

.main_ul {
    margin-top:0px;
    padding:0px;
    list-style:none;
}


/*  The footer  */

.footer {
    margin:1%;
    padding-left:1em;
    padding-right:1em;
    padding-top:1em;
    padding-bottom:1em;
    background-color:white;
    border:thin solid #88cbff;
}

.footer_left {
    float:left;
    text-align:left;
    font-size:x-small;
}

.footer_right {
    float:right;
    text-align:right;
    font-size:x-small;
}


/*  Misc formatting  */

.code_ul {
    list-style:none;
    font-style:italic;
}

.ref_ul {
    padding:0px;
    list-style:none;
}

.ref_li {
    margin-top:20px;
}

.screenshot_table {
    text-align:center;
    font-size:small;
    border:0em;
    padding:0em;
    width:100%;
    border-spacing: 0em 5em;
}

a {
    text-decoration:none;
    color:#0017aa;
    font-weight:normal;
}

a:hover {
    color:#316fff;
}

a.cia_sitename {
    padding: 0em 0.5em;
    margin: 0em;
    font: 250% sans-serif;
    color:#DDD;
    text-decoration:none;
}
