/*
 * Section:  Main body of the webpage
 */

body {
    margin:0%;
    padding:0%;
    color:#000000;
    background-color:#e5feff;
}

/* Div box to clear the page and start the next box at the very bottom of everything else */
.clear {
    clear:both;
    padding-top:0.1em;
}



/*
 * Section:  Image formatting
 */

.image {
    color:inherit;
    border:0em;
}

/*
 * Subsection: Main text graphics.
 */

.main_graphic {
    text-align: center;
}
.main_graphic.small img {
    width: 150px;
}
.main_graphic.medium img {
    width: 200px;
}
.main_graphic.large img {
    width: 300px;
}

/* Mobile: Increase the image proportions. */
@media screen and (max-width: 600px) {
    .main_graphic.small img {
        width: 70%;
        max-width: 300px;
    }
    .main_graphic.medium img {
        width: 80%;
        max-width: 350px;
    }
    .main_graphic.large img {
        width: 90%;
        max-width: 350px;
    }
}



/*
 * Section:  The header
 */

/* Standard relax logo. */
.header_image {
    float: left;
    width: 22%;
    text-align: center;
    padding: 15px;
}
.header_image img {
    width: 200px;
}

/* Smaller relax logo for portrait tablets. */
.header_image_small {
    display: none;
}

/* Header text. */
.header {
    padding: 10px;
    margin-left: 24%;
    padding-left: 2%;
    min-height: 105px;
}
p#headline {
    font-size: x-large;
}
p#tagline {
    font-size: 0.7em;
    margin-top: -1.5em;
}

/* Mobile header */
@media screen and (max-width: 600px) {
    /* Standard relax logo. */
    .header_image {
        display: none;
    }

    /* Header text. */
    .header {
        display: none;
    }
}

/* Portrait tablet header */
@media screen and (min-width: 600px) and (max-width: 800px) {
    /* Standard relax logo. */
    .header_image {
        display: none;
    }

    /* Smaller relax logo for portrait tablets. */
    .header_image_small {
        float: left;
        width: 22%;
        text-align: center;
        padding: 10px;
        padding-top: 30px;
        display: block;
    }
    .header_image_small img {
        width: 130px;
    }

    /* Header text. */
    .header {
        padding: 1px;
        min-height: 100px;
    }
}



/*
 * Section:  Middle section of the page
 */

.middle {
}



/*
 * Section:  The menu system
 */

.menu {
    float:left;
    width:22%;
    height:auto;
    margin-left:1%;
    line-height:150%;
    background-color:#b8edff;
    border:thin solid #88cbff;
}

/* Turn off the mobile menu icons */
.menu_mobile_header {
    display: none;
}

.menu_header {
    font-weight:bold;
    font-size:large;
    text-align : center;
    background-color: #51c3d3;
    color:#00004F;
    padding-top:10px;
    padding-bottom:10px;
}

.menu_title {
    font-weight : bold;
    padding-top:1em;
    text-indent : 5%;
    border-bottom:thin solid #88cbff;
}

.menu_def {
    text-indent : 5%;
    color:#3179ac;
}

.menu_def_collapsable {
    text-indent : 5%;
    cursor : pointer;
    color : #0017aa;
}

.submenu {
    display : none;
}

.submenu_def {
    text-indent : 10%;
    display : block;
}

/* Mobile menu */
@media screen and (max-width: 600px) {
    /* Hide the header. */
    .menu_header {
        display: none;
    }

    /* Redefine the menu. */
    .menu {
        margin: 0 0 0 0;
        float: none;
        width: auto;
        overflow: hidden;
        border: none;
    }
    .menu_title {
        font-size: 24px;
        background: #51c3d3;
        padding: 14px 16px;
        text-indent: 0;
    }
    .menu_def {
        text-indent: 0;
    }
    .menu_def_collapsable {
        padding: 14px 16px;
        font-size: 17px;
        text-indent: 0;
    }

    /* Default hide the elements. */
    .menu #menu_elements {
        display: none;
        margin-top: 50px;
        border-left: thin solid #88cbff;
        border-right: thin solid #88cbff;
        border-bottom: thin solid #88cbff;
    }

    /* Show the mobile menu header. */
    .menu_mobile_header {
        height: 50px;
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        background: #b8edff;
        border: thin solid #88cbff;
        box-sizing: border-box;
        z-index: 1;
    }

    /* Mobile logo formatting. */
    .menu_mobile_header img {
        width: 80px;
        position: absolute;
        right: 5px;
        top: 8px;
    }

    /* Menu item formatting. */
    .menu_def, .menu_def_collapsable, .submenu_def {
        padding: 8px 16px;
        font-size: 20px;
        display: block;
    }

    /* Drop down menu icon. */
    .menu_mobile_header .icon {
        padding: 14px 18px;
        text-decoration: none;
        font-size: 20px;
        margin: 0 0 0 0;
        display: block;
        position: absolute;
        color: #0017aa;
        left: 0;
        top: 0;
    }

    /* Change the hover colours. */
}



/*
 * Section:  The main text box
 */

/* The central text area. */
.main {
    margin: 0 1% 0 24%;
    background-color: white;
    border: thin solid #88cbff;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 2%;
}
@media screen and (max-width: 600px) {
    .main {
        margin: 0 0 0 0;
        border-top: thin solid white;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 2%;
        margin-top: 50px;
    }
}

/* Table of contents */
@media screen and (max-width: 600px) {
    .toc {
        display: none;
    }
}

/* Header h2: A dividing top line with padding. */
h2 {
    border-top: thin solid #88cbff;
    padding-top: 10px;
}

/* Header h3: Increase the font size. */
h3 {
    font-size: 130%;
}

.main_ul {
    margin-top:0px;
    padding:0px;
    list-style:none;
}

/* Mobile headers */
@media screen and (max-width: 600px) {
    /* Format the collapsible header. */
    .collapsible_section {
        padding-top: 10px;
        padding-left: 8%;
        position: relative;
        cursor: pointer;
        text-align: left;
    }

    /* The div associated with the collapsible header. */
    .section_content {
        display: none;
        overflow: hidden;
    }

    /* Add a symbol to indicate the header can be opened. */
    .collapsible_section:before {
        position: absolute;
        top: 45%;
        left: 5px;
        width: 8%;
        padding-right: 10px;
        white-space: nowrap;
        font-family: "FontAwesome";
        content: '\f078'; /* Font Awesome fa-chevron-down */
        font-size: 12px;
        font-weight: 10;
    }

    /* Add a symbol to indicate the header can be collapsed. */
    .collapsible_section_open:before {
        content: '\f077    '; /* Font Awesome fa-chevron-up */
    }
}



/*
 * Section:  The footer
 */

.footer {
    margin:1%;
    padding-left:1em;
    padding-right:1em;
    padding-top:1em;
    padding-bottom:1em;
    background-color:white;
    border:thin solid #88cbff;
}

.footer_left {
    float:left;
    text-align:left;
    font-size:x-small;
}

.footer_right {
    float:right;
    text-align:right;
    font-size:x-small;
}

/* Mobile footer */
@media screen and (max-width: 600px) {
    .footer {
        margin: 0;
    }
}


/*
 * Section:  Table formatting
 */

.book_td {
    vertical-align: top;
}

.dep_table {
    border-collapse: collapse;
    width: 50%;
    border: thin solid rgba(136,203,255,0.3);
    margin-left: 1%;
    margin-bottom: 10px;
}

.dep_table td {
    padding: 10px;
}

.dep_td_head {
    font-weight: bold;
    border-bottom: thin solid rgba(136,203,255,0.3);
}

/*
 * Subsection: Event tables.
 */

/* Logo to the top left. */
.event-logo {
    float: left;
    width: 120px;
    padding-top: 5px;
}
.event-logo img {
    width: 120px;
}

/* Table formatting. */
.event-table {
    margin-bottom: 25px;
}

/* Bold titles. */
.event-table thead {
    font-weight: bold;
}

/* Cell formatting. */
.event-table td {
    vertical-align: top;
}

/* Section formatting. */
.event-table tbody td:first-child {
    font-style: italic;
    width: 18%;
}

@media screen and (max-width: 600px) {
    /* Logo centred at top */
    .event-logo {
        float: none;
        width: 100%;
        text-align: center;
    }

    /* Wider banner logos. */
    .event-logo-banner img {
        width: 300px;
    }
}

/*
 * Subsection: relax release tables
 */

.release_table {
    border-collapse: collapse;
    width: 98%;
    border: thin solid rgba(136,203,255,0.3);
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 10px;
}

/* Default for all cells */
.release_table td {
    padding: 10px;
}

/* Header cells */
.release_table thead td {
    font-weight: bold;
    border-bottom: thin solid rgba(136,203,255,0.3);
}
.release_table thead td.package {
    width: 40%;
}
.release_table thead td.md5sum {
    width: 25%;
}
.release_table thead td.gpg, .release_table thead td.size {
    width: 17.5%;
}

/* Body cells */
.release_table tbody tr.release td {
    font-style: italic;
    background-color: #e5feff;
}
.release_table tbody td.md5sum {
    font-size: small;
    font-family: monospace;
}
.release_table tbody td.size {
    text-align: right;
}

/* Mobile (smartphone and tablets in portrait mode): relax release tables */
@media screen and (max-width: 800px) {
    /* Remove borders. */
    .release_table {
        border: none;
    }

    /* Destroy the table! */
    .release_table table, .release_table thead, .release_table tbody, .release_table tr, .release_table td {
        display: block;
    }

    /* Hide the header */
    .release_table thead tr {
        display: none;
    }

    /* Add a border */
    .release_table tbody tr {
        border: thin solid rgba(136,203,255,0.3);
        margin-bottom: 10px;
    }

    /* Make the cell behave as a row */
    .release_table tbody td {
        border: none;
        position: relative;
        padding-left: 30%;
    }

    /* Prefix the cells */
    .release_table tbody td:before {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 30%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /* Treat the release cells differently. */
    .release_table tr.release td {
        padding-left: 10px;
    }

    /* Reintroduce the headers */
    .release_table td:nth-of-type(1):before { content: "Package"; }
    .release_table td:nth-of-type(2):before { content: "MD5"; }
    .release_table td:nth-of-type(3):before { content: "GPG"; }
    .release_table td:nth-of-type(4):before { align=left; content: "Size (B)"; }
    .release_table tr.release td:nth-of-type(1):before { content: ""; }

    /* Body cells */
    .release_table tbody td.md5sum:before {
        font-size: initial;
        font-family: initial;
    }
    .release_table tbody td.size {
        text-align: left;
    }
}

/*
 * Subsection: relax links tables
 */

.link_table tr {
    height: 100px;
}

.links_table td {
    padding: 5px;
}

.links_table td:first-child {
    text-align: center;
}

/* Sudo logo for MARC. */
.links_table tr#MARC td:first-child a {
    font-family: monospace;
    font-weight: bold;
    font-size: x-large;
    color: black;
}

/* Sudo logo for archive.today. */
.links_table tr#archive_today td:first-child a {
    font-size: 24px;
    text-align: center;
    white-space: nowrap;
    color: black;
    cursor: pointer;
    font-family: sans-serif;
}

/* Some manually adjusted image widths. */
.links_table tr#SourceForge img {
    width: 200px;
}
.links_table tr#Gna img {
    width: 150px;
}
.links_table tr#GitHub img {
    width: 150px;
}
.links_table tr#GitLab img {
    width: 100px;
}
.links_table tr#Bitbucket img {
    width: 200px;
}
.links_table tr#Free_software_directory img {
    width: 130px;
}
.links_table tr#LinuxLinks img {
    width: 150px;
}
.links_table tr#Softpedia img {
    width: 200px;
}
.links_table tr#Prolinux img {
    width: 200px;
}
.links_table tr#Open_Source_Software_Directory img {
    width: 200px;
}
.links_table tr#PDC img {
    width: 150px;
}
.links_table tr#minfx img {
    width: 150px;
}

/* Mobile (smartphone and tablets in portrait mode): relax links tables */
@media screen and (max-width: 1000px) {
    /* Destroy the table! */
    .links_table table, .links_table thead, .links_table tbody, .links_table tr, .links_table td {
        display: block;
    }

    /* Hide the header */
    .links_table thead tr {
        display: none;
    }

    /* Add a border */
    .links_table tbody tr {
        border: thin solid rgba(136,203,255,0.3);
        margin-bottom: 10px;
        height: auto;
    }

    /* Fix for wide OpenHub widgets. */
    .links_table td:first-child {
        padding-left: 0;
        padding-right: 0;
    }

    /* Some manually adjusted image widths. */
    .links_table tr#SourceForge img {
        width: 300px;
    }
    .links_table tr#Gna img {
        width: 125px;
    }
    .links_table tr#GitHub img {
        width: 180px;
    }
    .links_table tr#GitLab img {
        width: 120px;
    }
    .links_table tr#Bitbucket img {
        width: 300px;
    }
    .links_table tr#LinuxLinks img {
        width: 250px;
    }
    .links_table tr#Softpedia img {
        width: 300px;
    }
    .links_table tr#Prolinux img {
        width: 300px;
    }
    .links_table tr#Open_Source_Software_Directory img {
        width: 300px;
    }
    .links_table tr#archive_today td:first-child a {
        font-size: 32px;
    }
    .links_table tr#minfx img {
        width: 200px;
    }
}

/*
 * Subsection: Google SiteSearch table.
 */

/* Table formatting */
.google_sitesearch_table {
    width: 100%;
}


/* Mobile */
@media screen and (max-width: 750px) {
    /* Destroy the table! */
    .google_sitesearch_table table, .google_sitesearch_table tr, .google_sitesearch_table td {
        display: block;
    }

    .google_sitesearch_logo {
        display: block;
    }
}

/*
 * Subsection: MS Visual Studio table.
 */

.ms_visual_studio_table {
    border-spacing: 10px;
    border-collapse: separate;
}

.ms_visual_studio_table thead tr {
    font-weight: bold;
}

/* Mobile (smartphone and tablets in portrait mode): MS Visual Studio table */
@media screen and (max-width: 1000px) {
    .ms_visual_studio_table {
        border-spacing: 0;
        border-collapse: none;
    }

    /* Destroy the table! */
    .ms_visual_studio_table table, .ms_visual_studio_table thead, .ms_visual_studio_table tbody, .ms_visual_studio_table tr, .ms_visual_studio_table td {
        display: block;
    }

    /* Hide the header. */
    .ms_visual_studio_table thead tr {
        display: none;
    }

    /* Add a border. */
    .ms_visual_studio_table tbody tr {
        border: thin solid rgba(136,203,255,0.3);
        margin-bottom: 10px;
    }

    /* Make the cell behave as a row */
    .ms_visual_studio_table tbody td {
        position: relative;
        padding-left: 25%;
    }

    /* Prefix the cells */
    .ms_visual_studio_table tbody td:before {
        position: absolute;
        top: 0px;
        left: 10px;
        width: 25%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /* Reintroduce the headers. */
    .ms_visual_studio_table td:nth-of-type(1):before { content: "Edition:"; }
    .ms_visual_studio_table td:nth-of-type(2):before { content: "EXE:"; }
    .ms_visual_studio_table td:nth-of-type(3):before { content: "ISO:"; }
}



/*
 * Section:  List formatting
 */

.code_ul {
    font-size: small;
    list-style: none;
    font-style: italic;
    padding-left: 2em;
}

.code_ul ul {
    list-style: none;
    font-style: italic;
    padding-left: 2em;
}

.code_ul ul ul {
    list-style: none;
    font-style: italic;
    padding-left: 2em;
}

.ref_ul {
    padding: 0px;
    list-style: "    " inside none;
}

.ref_ul li {
    margin-top: 20px;
}


/*
 * Section:  Grid formatting
 */

/* Screenshot gird */
.screenshot_grid {
    display: inline-grid;
    text-align: center;
    font-size: small;
    width: 100%;
}
.screenshot_grid_item {
    padding-bottom: 20px;
    width: 100%;
}
.screenshot_grid_item img {
    width: 90%;
}

/* Single column view */
@media screen and (max-width: 880px) {
    .screenshot_grid {
        grid-template-columns: auto;
    }
}

/* Two column view */
@media screen and (min-width: 880px) and (max-width: 1280px) {
    .screenshot_grid {
        grid-template-columns: auto auto;
    }
}

/* Three column view */
@media screen and (min-width: 1280px) and (max-width: 1700px) {
    .screenshot_grid {
        grid-template-columns: auto auto auto;
    }
}

/* Four column view */
@media screen and (min-width: 1700px) {
    .screenshot_grid {
        grid-template-columns: auto auto auto auto;
    }
}

/* Book ref grid. */
.book_ref_grid {
    display: grid;
    text-align: center;
    grid-template-columns: 150px auto;
}
.book_ref_grid_img img {
    width: 100%;
}
.book_ref_grid_text {
    text-align: left;
    padding-left: 10px;
}

/* Mobile: book ref grid. */
@media screen and (max-width: 600px) {
    .book_ref_grid {
        grid-template-columns: auto;
    }

    /* Image */
    .book_ref_grid_img img {
        width: 150px;
    }
    .book_ref_grid_text {
        padding-left: 0;
    }
}


/*
 * pre element formatting.
 */

pre {
    white-space: pre-wrap;
}

/*
 * Section:  Link formatting
 */

a {
    text-decoration:none;
    color:#0017aa;
    font-weight:normal;
}

a:hover {
    color:#316fff;
}
