<!-- MHonArc v2.6.16 -->
<!--X-Subject: r8063 &#45; /tags/1.3.3/docs/latex/relax.tex -->
<!--X-From-R13: rqjneqNaze&#45;erynk.pbz -->
<!--X-Date: Sat, 29 Nov 2008 18:31:21 +0100 -->
<!--X-Message-Id: E1L6Tf7&#45;0008Gl&#45;2g@subversion.gna.org -->
<!--X-Content-Type: text/plain -->
<!--X-Head-End-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>r8063 - /tags/1.3.3/docs/latex/relax.tex -- November 29, 2008 - 18:31</title>
<link rel="stylesheet" type="text/css" href="/mail.gna.org/archives-color-gna.css"> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<!--X-Body-Begin-->
<!--X-User-Header-->
<!--X-User-Header-End-->
<!--X-TopPNI-->
<h2><img src="/mail.gna.org/images/mail.orig.png" width="48" height="48"
alt="mail" class="pageicon" />r8063 - /tags/1.3.3/docs/latex/relax.tex</h2>
<br />
<div class="topmenu">
<a href="../" class="tabs">Others Months</a> | <a href="index.html#00093" class="tabs">Index by Date</a> | <a href="threads.html#00093" class="tabs">Thread Index</a><br />
<span class="smaller">&gt;&gt;&nbsp;&nbsp;
[<a href="msg00092.html">Date Prev</a>] [<a href="msg00094.html">Date Next</a>] [<a href="msg00092.html">Thread Prev</a>] [<a href="msg00094.html">Thread Next</a>]
</div>

<!--X-TopPNI-End-->
<!--X-MsgBody-->
<!--X-Subject-Header-Begin-->
<h3><a name="header" href="#header">Header</a></h3>
<!--X-Subject-Header-End-->
<!--X-Head-of-Message-->
<ul class="headdata">
<li class="menuitem">
<em>To</em>: relax-commits@xxxxxxx</li>
<li class="menuitem">
<em>Date</em>: Sat, 29 Nov 2008 17:31:21 -0000</li>
<li class="menuitem">
<em>Message-id</em>: &lt;<a href="msg00093.html">E1L6Tf7-0008Gl-2g@subversion.gna.org</a>&gt;</li>
</ul>
<!--X-Head-of-Message-End-->
<!--X-Head-Body-Sep-Begin-->
</div><!-- end headdata -->
<br />
<h3><a name="content" href="#content">Content</a></h3>
<div class="postedby">Posted by <strong>edward</strong> on November 29, 2008 - 18:31:</div>
<div class="msgdata">
<!--X-Head-Body-Sep-End-->
<!--X-Body-of-Message-->
<pre style="margin: 0em;">Author: bugman
Date: Sat Nov 29 18:31:20 2008
New Revision: 8063

URL: <a  rel="nofollow" href="http://svn.gna.org/viewcvs/relax?rev=8063&amp;view=rev">http://svn.gna.org/viewcvs/relax?rev=8063&amp;view=rev</a>
Log:
Fixed the spacing in the table of contents of the user manual.


Modified:
    tags/1.3.3/docs/latex/relax.tex

Modified: tags/1.3.3/docs/latex/relax.tex
URL: 
<a  rel="nofollow" href="http://svn.gna.org/viewcvs/relax/tags/1.3.3/docs/latex/relax.tex?rev=8063&amp;r1=8062&amp;r2=8063&amp;view=diff">http://svn.gna.org/viewcvs/relax/tags/1.3.3/docs/latex/relax.tex?rev=8063&amp;r1=8062&amp;r2=8063&amp;view=diff</a>
==============================================================================
--- tags/1.3.3/docs/latex/relax.tex (original)
+++ tags/1.3.3/docs/latex/relax.tex Sat Nov 29 18:31:20 2008
@@ -14,6 +14,9 @@
 
 % Obliterate those painful LaTeX margins!
 \usepackage{vmargin}
+
+% Better Table of contents (Toc), List of figures (Lof), and List of tables 
(Lot).
+\usepackage{tocloft}
 
 % Better maths.
 \usepackage{amsmath}
@@ -35,6 +38,11 @@
 % New environment.
 \newenvironment{exampleenv}{\footnotesize \begin{ttfamily} \sloppy}{\fussy 
\end{ttfamily}}
 \newenvironment{spacedpara}{\setlength{\parindent}{0pt} 
\setlength{\parskip}{2ex plus 0.5ex minus 0.2ex}}{}
+
+% Modify the Toc, Lof, and Lot layout.
+\setlength{\cftsecnumwidth}{10mm}
+\setlength{\cftsubsecnumwidth}{16mm}
+\setlength{\cftfignumwidth}{12mm}
 
 % Maths commands.
 \newcommand{\Par}{{\scriptscriptstyle \parallel}}



</pre>
<!--X-Body-of-Message-End-->
<!--X-MsgBody-End-->
<!--X-Follow-Ups-->
</div><!-- end msgdata -->
<br />
<h3><a name="related" href="#related">Related Messages</a></h3>
<div class="relateddata">
<!--X-Follow-Ups-End-->
<!--X-References-->
<!--X-References-End-->
<!--X-BotPNI-->
</div><!-- end relateddata -->
<!-- NoBotLinksApartFromRelatedMessages -->

<!--X-BotPNI-End-->
<!--X-User-Footer-->
<!--X-User-Footer-End-->
<div class="footer"></div><br />
<div class="right">Powered by <a href="http://www.mhonarc.org">MHonArc</a>, Updated Sat Nov 29 18:40:02 2008</div>  
</body>
</html>
