<!-- MHonArc v2.6.16 -->
<!--X-Subject: r21004 &#45; /branches/relax_disp/gui/analyses/auto_relax_disp.py -->
<!--X-From-R13: rqjneqNaze&#45;erynk.pbz -->
<!--X-Date: Fri, 13 Sep 2013 19:21:06 +0200 -->
<!--X-Message-Id: E1VKX3K&#45;0004CM&#45;N4@subversion.gna.org -->
<!--X-Content-Type: text/plain -->
<!--X-Head-End-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>r21004 - /branches/relax_disp/gui/analyses/auto_relax_disp.py -- September 13, 2013 - 19:21</title>
<link rel="stylesheet" type="text/css" href="/mail.gna.org/archives-color-gna.css"> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<!--X-Body-Begin-->
<!--X-User-Header-->
<!--X-User-Header-End-->
<!--X-TopPNI-->
<h2><img src="/mail.gna.org/images/mail.orig.png" width="48" height="48"
alt="mail" class="pageicon" />r21004 - /branches/relax_disp/gui/analyses/auto_relax_disp.py</h2>
<br />
<div class="topmenu">
<a href="../" class="tabs">Others Months</a> | <a href="index.html#00269" class="tabs">Index by Date</a> | <a href="threads.html#00269" class="tabs">Thread Index</a><br />
<span class="smaller">&gt;&gt;&nbsp;&nbsp;
[<a href="msg00268.html">Date Prev</a>] [<a href="msg00270.html">Date Next</a>] [<a href="msg00268.html">Thread Prev</a>] [<a href="msg00270.html">Thread Next</a>]
</div>

<!--X-TopPNI-End-->
<!--X-MsgBody-->
<!--X-Subject-Header-Begin-->
<h3><a name="header" href="#header">Header</a></h3>
<!--X-Subject-Header-End-->
<!--X-Head-of-Message-->
<ul class="headdata">
<li class="menuitem">
<em>To</em>: relax-commits@xxxxxxx</li>
<li class="menuitem">
<em>Date</em>: Fri, 13 Sep 2013 17:21:06 -0000</li>
<li class="menuitem">
<em>Message-id</em>: &lt;<a href="msg00269.html">E1VKX3K-0004CM-N4@subversion.gna.org</a>&gt;</li>
</ul>
<!--X-Head-of-Message-End-->
<!--X-Head-Body-Sep-Begin-->
</div><!-- end headdata -->
<br />
<h3><a name="content" href="#content">Content</a></h3>
<div class="postedby">Posted by <strong>edward</strong> on September 13, 2013 - 19:21:</div>
<div class="msgdata">
<!--X-Head-Body-Sep-End-->
<!--X-Body-of-Message-->
<pre style="margin: 0em;">Author: bugman
Date: Fri Sep 13 19:21:06 2013
New Revision: 21004

URL: <a  rel="nofollow" href="http://svn.gna.org/viewcvs/relax?rev=21004&amp;view=rev">http://svn.gna.org/viewcvs/relax?rev=21004&amp;view=rev</a>
Log:
Rearranged the numeric CPMG models in the dispersion model list in the GUI.


Modified:
    branches/relax_disp/gui/analyses/auto_relax_disp.py

Modified: branches/relax_disp/gui/analyses/auto_relax_disp.py
URL: 
<a  rel="nofollow" href="http://svn.gna.org/viewcvs/relax/branches/relax_disp/gui/analyses/auto_relax_disp.py?rev=21004&amp;r1=21003&amp;r2=21004&amp;view=diff">http://svn.gna.org/viewcvs/relax/branches/relax_disp/gui/analyses/auto_relax_disp.py?rev=21004&amp;r1=21003&amp;r2=21004&amp;view=diff</a>
==============================================================================
--- branches/relax_disp/gui/analyses/auto_relax_disp.py (original)
+++ branches/relax_disp/gui/analyses/auto_relax_disp.py Fri Sep 13 19:21:06 
2013
@@ -659,11 +659,11 @@
         MODEL_CR72_FULL,
         MODEL_IT99,
         MODEL_TSMFK01,
+        MODEL_NS_CPMG_2SITE_EXPANDED,
         MODEL_NS_CPMG_2SITE_3D,
         MODEL_NS_CPMG_2SITE_3D_FULL,
         MODEL_NS_CPMG_2SITE_STAR,
         MODEL_NS_CPMG_2SITE_STAR_FULL,
-        MODEL_NS_CPMG_2SITE_EXPANDED,
         None,
         MODEL_M61,
         MODEL_M61B,
@@ -683,10 +683,10 @@
         &quot;{%s, ..., %s, %s, %s}&quot; % (r2, phi_ex, padw2, kex),
         &quot;{%s, ..., %s, k_AB}&quot; % (r2a, dw),
         &quot;{%s, ..., pA, %s, %s}&quot; % (r2, dw, kex),
+        &quot;{%s, ..., pA, %s, %s}&quot; % (r2, dw, kex),
         &quot;{%s, %s, ..., pA, %s, %s}&quot; % (r2a, r2b, dw, kex),
         &quot;{%s, ..., pA, %s, %s}&quot; % (r2, dw, kex),
         &quot;{%s, %s, ..., pA, %s, %s}&quot; % (r2a, r2b, dw, kex),
-        &quot;{%s, ..., pA, %s, %s}&quot; % (r2, dw, kex),
         None,
         &quot;{%s, ..., %s, %s}&quot; % (r1rho_prime, phi_ex, kex),
         &quot;{%s, ..., pA, %s, %s}&quot; % (r1rho_prime, dw, kex),
@@ -705,11 +705,11 @@
         &quot;The Carver and Richards (1972) 2-site equation for all time 
scales.&quot;,
         &quot;The Ishima and Torchia (1999) 2-site model for all time scales with 
pA &gt;&gt; pB.&quot;,
         &quot;The Tollinger et al. (2001) 2-site very-slow exchange model.&quot;,
+        &quot;The 2-site numerical solution expanded using Maple by Nikolai 
Skrynnikov.&quot;,
         &quot;The 2-site numerical solution using 3D magnetisation vectors (with 
%s = %s).&quot; % (r2a, r2b),
         &quot;The 2-site numerical solution using 3D magnetisation vectors.&quot;,
         &quot;The 2-site numerical solution using complex conjugate matrices 
(with %s = %s).&quot; % (r2a, r2b),
         &quot;The 2-site numerical solution using complex conjugate matrices.&quot;,
-        &quot;The 2-site numerical solution expanded using Maple by Nikolai 
Skrynnikov.&quot;,
         None,
         &quot;The Meiboom (1961) 2-site fast exchange equation.&quot;,
         &quot;The Meiboom (1961) 2-site equation for all time scales with pA &gt;&gt; 
pB.&quot;,



</pre>
<!--X-Body-of-Message-End-->
<!--X-MsgBody-End-->
<!--X-Follow-Ups-->
</div><!-- end msgdata -->
<br />
<h3><a name="related" href="#related">Related Messages</a></h3>
<div class="relateddata">
<!--X-Follow-Ups-End-->
<!--X-References-->
<!--X-References-End-->
<!--X-BotPNI-->
</div><!-- end relateddata -->
<!-- NoBotLinksApartFromRelatedMessages -->

<!--X-BotPNI-End-->
<!--X-User-Footer-->
<!--X-User-Footer-End-->
<div class="footer"></div><br />
<div class="right">Powered by <a href="http://www.mhonarc.org">MHonArc</a>, Updated Fri Sep 13 19:40:02 2013</div>  
</body>
</html>
