/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }
DIV.equation { text-align-last:justify; white-space: nowrap; } /* place eq nos */
SPAN.MATH { display:inline-block; }	/* don't stretch spaces inside eqn */

.LEFT    { text-align:left; }
.CENTER  { text-align:center; }
.CENTER > * { margin:auto; }
.RIGHT   { text-align:right; }
.TOP     { vertical-align:top; }
.MIDDLE  { vertical-align:middle; }
.BOTTOM  { vertical-align:bottom; }

IMG.LEFT    { float:left; }
IMG.RIGHT   { float:right; }
IMG.TOP     { vertical-align:top; }
IMG.BOTTOM  { vertical-align:baseline; }

DL.COMPACT > dt { float:left; padding-right: 1em; }
BODY { width:95%; max-width:50em; margin:auto; }

/* implement both fixed-size and relative sizes */
.XTINY		{ font-size : xx-small }
.TINY		{ font-size : x-small  }
.SCRIPTSIZE	{ font-size : smaller  }
.FOOTNOTESIZE	{ font-size : small    }
.SMALL		{  }
.LARGE		{  }
.XLARGE		{ font-size : large    }
.XXLARGE		{ font-size : x-large  }
.HUGE		{ font-size : larger   }
.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ width:0; }	/* equation-number cells */
TABLE.PAD TD	{ padding:3px; }
TABLE.BORDER TD	{ border:1px solid black; }
TABLE.equation	{ width:100%; }	/* place eq nos at right/left edge */
TABLE.equation > *	{ vertical-align:baseline; }
TABLE.equation TD	{ white-space:nowrap; }
TABLE		{ border-collapse: collapse; }

/* document-specific styles come next */
DIV.LaTeX		{   }
DIV.center		{   }
DIV.centerline		{   }
TABLE.equation		{  }
DIV.flushleft		{   }
DIV.footnotesize		{   }
DIV.logo-LaTeX		{   }
DIV.navigation		{   }
PRE.preform		{   }
DIV.quote		{   }
DIV.scriptsize		{   }
DIV.small		{   }
TABLE.subequations		{  }
SPAN.ttfamily		{   }
SPAN.Roman		{   }
SPAN.arabic		{   }
SPAN.textbf		{ font-weight: bold  }
SPAN.textit		{ font-style: italic  }
SPAN.textsf		{ font-family: sans-serif  }
SPAN.texttt		{ font-family: monospace  }
#par114058		{   }
#par114283		{   }
#par114291		{   }
#par114315		{   }
#par114356		{   }
#par114374		{   }
#par114381		{   }
#par114387		{   }
#par114393		{   }
#par114405		{   }
#par114409		{   }
#par114414		{   }
#par114418		{   }
#par114422		{   }
#par114628		{   }
#par114630		{   }
#par114632		{   }
#par114634		{   }
#par114638		{   }
#par114641		{   }
#par114643		{   }
#par114648		{   }
#par114656		{   }
#par114658		{   }
#par114660		{   }
#par114782		{   }
#par114786		{   }
#par114790		{   }
#par114804		{   }
#par114806		{   }
#par114808		{   }
#par114810		{   }
#par114812		{   }
#par114814		{   }
#par114816		{   }
#par114821		{   }
#par114823		{   }
#par114826		{   }
#par114876		{   }
#par114890		{   }
#par114892		{   }
#par114896		{   }
#par114904		{   }
#par114906		{   }
#par114908		{   }
#par114912		{   }
#par114914		{   }
#par114916		{   }
#par114918		{   }
#par114922		{   }
#par115274		{   }
#par115305		{   }
#par115430		{   }
#par115560		{   }
#par115562		{   }
#par115566		{   }
#par115568		{   }
#par115578		{   }
#par115580		{   }
#par115582		{   }
#par115584		{   }
#par115588		{   }
#par115590		{   }
#par115594		{   }
#par115597		{   }
#par115599		{   }
#par115601		{   }
#par115605		{   }
#par115610		{   }
#par115621		{   }
#par115630		{   }
#par115698		{   }
#par116781		{   }
#par118661		{   }
#par118663		{   }
#par118667		{   }
#par118694		{   }
#par118705		{   }
#par118708		{   }
#par118963		{   }
#par118965		{   }
#par118967		{   }
#par118969		{   }
#par118971		{   }
#par118973		{   }
#par118975		{   }
#par118977		{   }
#par118980		{   }
#par118982		{   }
#par118995		{   }
#par119001		{   }
#par119003		{   }
#par119011		{   }
#par119014		{   }
#par119020		{   }
#par119029		{   }
#par119031		{   }
#par119367		{   }
#par119512		{   }
#par119521		{   }
#par119665		{   }
#par119823		{   }
#par120301		{   }
#par120374		{   }
#par120442		{   }
#par122774		{   }
