/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }
DIV.equation { text-align-last:justify; white-space: nowrap; } /* place eq nos */
SPAN.MATH { display:inline-block; }	/* don't stretch spaces inside eqn */

.LEFT    { text-align:left; }
.CENTER  { text-align:center; }
.CENTER > * { margin:auto; }
.RIGHT   { text-align:right; }
.TOP     { vertical-align:top; }
.MIDDLE  { vertical-align:middle; }
.BOTTOM  { vertical-align:bottom; }

IMG.LEFT    { float:left; }
IMG.RIGHT   { float:right; }
IMG.TOP     { vertical-align:top; }
IMG.BOTTOM  { vertical-align:baseline; }

DL.COMPACT > dt { float:left; padding-right: 1em; }
BODY { width:95%; }

/* implement both fixed-size and relative sizes */
.XTINY		{ font-size : xx-small }
.TINY		{ font-size : x-small  }
.SCRIPTSIZE	{ font-size : smaller  }
.FOOTNOTESIZE	{ font-size : small    }
.SMALL		{  }
.LARGE		{  }
.XLARGE		{ font-size : large    }
.XXLARGE		{ font-size : x-large  }
.HUGE		{ font-size : larger   }
.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ width:0; }	/* equation-number cells */
TABLE.PAD TD	{ padding:3px; }
TABLE.BORDER TD	{ border:1px solid black; }
TABLE.equation	{ width:100%; }	/* place eq nos at right/left edge */
TABLE.equation > *	{ vertical-align:baseline; }
TABLE.equation TD	{ white-space:nowrap; }
TABLE		{ border-collapse: collapse; }

/* document-specific styles come next */
DIV.LaTeX		{   }
DIV.center		{   }
DIV.centerline		{   }
TABLE.equation		{  }
DIV.flushleft		{   }
DIV.footnotesize		{   }
DIV.logo-LaTeX		{   }
DIV.navigation		{   }
PRE.preform		{   }
DIV.quote		{   }
DIV.scriptsize		{   }
DIV.small		{   }
TABLE.subequations		{  }
SPAN.ttfamily		{   }
SPAN.Roman		{   }
SPAN.arabic		{   }
SPAN.textbf		{ font-weight: bold  }
SPAN.textit		{ font-style: italic  }
SPAN.textsf		{ font-family: sans-serif  }
SPAN.texttt		{ font-family: monospace  }
#par111160		{   }
#par111387		{   }
#par111395		{   }
#par111419		{   }
#par111460		{   }
#par111478		{   }
#par111485		{   }
#par111491		{   }
#par111497		{   }
#par111509		{   }
#par111513		{   }
#par111518		{   }
#par111522		{   }
#par111526		{   }
#par111732		{   }
#par111734		{   }
#par111736		{   }
#par111738		{   }
#par111742		{   }
#par111745		{   }
#par111747		{   }
#par111752		{   }
#par111760		{   }
#par111762		{   }
#par111764		{   }
#par111886		{   }
#par111890		{   }
#par111894		{   }
#par111908		{   }
#par111910		{   }
#par111912		{   }
#par111914		{   }
#par111916		{   }
#par111918		{   }
#par111920		{   }
#par111925		{   }
#par111927		{   }
#par111930		{   }
#par111980		{   }
#par111994		{   }
#par111996		{   }
#par112000		{   }
#par112008		{   }
#par112010		{   }
#par112012		{   }
#par112016		{   }
#par112018		{   }
#par112020		{   }
#par112022		{   }
#par112026		{   }
#par112378		{   }
#par112409		{   }
#par112534		{   }
#par112664		{   }
#par112666		{   }
#par112670		{   }
#par112672		{   }
#par112682		{   }
#par112684		{   }
#par112686		{   }
#par112688		{   }
#par112692		{   }
#par112694		{   }
#par112698		{   }
#par112701		{   }
#par112703		{   }
#par112705		{   }
#par112709		{   }
#par112714		{   }
#par112725		{   }
#par112734		{   }
#par112802		{   }
#par113885		{   }
#par115765		{   }
#par115767		{   }
#par115771		{   }
#par115798		{   }
#par115809		{   }
#par115812		{   }
#par116067		{   }
#par116069		{   }
#par116071		{   }
#par116073		{   }
#par116075		{   }
#par116077		{   }
#par116079		{   }
#par116081		{   }
#par116084		{   }
#par116086		{   }
#par116099		{   }
#par116105		{   }
#par116107		{   }
#par116115		{   }
#par116118		{   }
#par116124		{   }
#par116133		{   }
#par116135		{   }
#par116471		{   }
#par116616		{   }
#par116625		{   }
#par116769		{   }
#par116927		{   }
#par117405		{   }
#par117478		{   }
#par117546		{   }
#par119878		{   }
