/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


/* document-specific styles come next */
DIV.gather		{  }
DIV.scriptsize		{   }
DIV.logo-LaTeX		{   }
PRE.preform		{   }
DIV.centerline		{   }
DIV.footnotesize		{   }
DIV.small		{   }
DIV.quote		{   }
DIV.center		{   }
TABLE.subequations		{  }
DIV.flushleft		{   }
DIV.align		{  }
DIV.navigation		{   }
TABLE.equation		{  }
DIV.LaTeX		{   }
SPAN.ttfamily		{   }
SPAN.textbf		{ font-weight: bold  }
SPAN.textsf		{ font-style: italic  }
SPAN.arabic		{   }
SPAN.Roman		{   }
SPAN.textit		{ font-style: italic  }
#par105199		{   }
#par105432		{   }
#par105440		{   }
#par105464		{   }
#par105504		{   }
#par105522		{   }
#par105529		{   }
#par105535		{   }
#par105541		{   }
#par105554		{   }
#par105558		{   }
#par105564		{   }
#par105568		{   }
#par105572		{   }
#par105789		{   }
#par105791		{   }
#par105793		{   }
#par105795		{   }
#par105799		{   }
#par105802		{   }
#par105804		{   }
#par105809		{   }
#par105819		{   }
#par105821		{   }
#par105823		{   }
#par105934		{   }
#par105938		{   }
#par105942		{   }
#par105956		{   }
#par105958		{   }
#par105960		{   }
#par105962		{   }
#par105964		{   }
#par105966		{   }
#par105968		{   }
#par105973		{   }
#par105975		{   }
#par105978		{   }
#par106031		{   }
#par106045		{   }
#par106047		{   }
#par106051		{   }
#par106059		{   }
#par106061		{   }
#par106063		{   }
#par106069		{   }
#par106071		{   }
#par106073		{   }
#par106075		{   }
#par106079		{   }
#par106526		{   }
#par106558		{   }
#par106706		{   }
#par106855		{   }
#par106857		{   }
#par106861		{   }
#par106863		{   }
#par106873		{   }
#par106875		{   }
#par106877		{   }
#par106879		{   }
#par106883		{   }
#par106885		{   }
#par106889		{   }
#par106894		{   }
#par106896		{   }
#par106898		{   }
#par106902		{   }
#par106908		{   }
#par106926		{   }
#par106938		{   }
#par107014		{   }
#par107411		{   }
#par109448		{   }
#par109450		{   }
#par109454		{   }
#par109486		{   }
#par109502		{   }
#par109505		{   }
#par109761		{   }
#par109763		{   }
#par109765		{   }
#par109767		{   }
#par109769		{   }
#par109771		{   }
#par109773		{   }
#par109775		{   }
#par109779		{   }
#par109781		{   }
#par109796		{   }
#par109802		{   }
#par109804		{   }
#par109816		{   }
#par109819		{   }
#par109826		{   }
#par109838		{   }
#par109840		{   }
#par110039		{   }
#par110629		{   }
#par110737		{   }
#par110820		{   }
