/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


/* document-specific styles come next */
DIV.gather		{  }
DIV.scriptsize		{   }
DIV.logo-LaTeX		{   }
PRE.preform		{   }
DIV.centerline		{   }
DIV.footnotesize		{   }
DIV.small		{   }
DIV.quote		{   }
DIV.center		{   }
TABLE.subequations		{  }
DIV.flushleft		{   }
DIV.align		{  }
DIV.navigation		{   }
TABLE.equation		{  }
DIV.LaTeX		{   }
SPAN.ttfamily		{   }
SPAN.textbf		{ font-weight: bold  }
SPAN.textsf		{ font-style: italic  }
SPAN.arabic		{   }
SPAN.Roman		{   }
SPAN.textit		{ font-style: italic  }
#par105677		{   }
#par105902		{   }
#par105910		{   }
#par105934		{   }
#par105973		{   }
#par105991		{   }
#par105998		{   }
#par106004		{   }
#par106010		{   }
#par106022		{   }
#par106026		{   }
#par106031		{   }
#par106035		{   }
#par106039		{   }
#par106251		{   }
#par106253		{   }
#par106255		{   }
#par106257		{   }
#par106261		{   }
#par106264		{   }
#par106266		{   }
#par106271		{   }
#par106279		{   }
#par106281		{   }
#par106283		{   }
#par106392		{   }
#par106396		{   }
#par106400		{   }
#par106414		{   }
#par106416		{   }
#par106418		{   }
#par106420		{   }
#par106422		{   }
#par106424		{   }
#par106426		{   }
#par106431		{   }
#par106433		{   }
#par106436		{   }
#par106486		{   }
#par106500		{   }
#par106502		{   }
#par106506		{   }
#par106514		{   }
#par106516		{   }
#par106518		{   }
#par106522		{   }
#par106524		{   }
#par106526		{   }
#par106528		{   }
#par106532		{   }
#par106884		{   }
#par106915		{   }
#par107040		{   }
#par107170		{   }
#par107172		{   }
#par107176		{   }
#par107178		{   }
#par107188		{   }
#par107190		{   }
#par107192		{   }
#par107194		{   }
#par107198		{   }
#par107200		{   }
#par107204		{   }
#par107207		{   }
#par107209		{   }
#par107211		{   }
#par107215		{   }
#par107220		{   }
#par107231		{   }
#par107240		{   }
#par107308		{   }
#par107597		{   }
#par109351		{   }
#par109353		{   }
#par109357		{   }
#par109384		{   }
#par109395		{   }
#par109398		{   }
#par109653		{   }
#par109655		{   }
#par109657		{   }
#par109659		{   }
#par109661		{   }
#par109663		{   }
#par109665		{   }
#par109667		{   }
#par109670		{   }
#par109672		{   }
#par109685		{   }
#par109691		{   }
#par109693		{   }
#par109701		{   }
#par109704		{   }
#par109710		{   }
#par109719		{   }
#par109721		{   }
#par109916		{   }
#par110389		{   }
#par110462		{   }
#par110530		{   }
