<!-- MHonArc v2.6.18 -->
<!--X-Subject: r25165 &#45; /trunk/gui/analyses/auto_relax_disp.py -->
<!--X-From-R13: rqjneqNaze&#45;erynk.pbz -->
<!--X-Date: Thu, 21 Aug 2014 14:52:24 +0200 -->
<!--X-Message-Id: E1XKRqq&#45;0001SJ&#45;Fb@subversion.gna.org -->
<!--X-Content-Type: text/plain -->
<!--X-Head-End-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>r25165 - /trunk/gui/analyses/auto_relax_disp.py -- August 21, 2014 - 14:52</title>
<link rel="stylesheet" type="text/css" href="/mail.gna.org/archives-color-gna.css"> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<!--X-Body-Begin-->
<!--X-User-Header-->
<!--X-User-Header-End-->
<!--X-TopPNI-->
<h2><img src="/mail.gna.org/images/mail.orig.png" width="48" height="48"
alt="mail" class="pageicon" />r25165 - /trunk/gui/analyses/auto_relax_disp.py</h2>
<br />
<div class="topmenu">
<a href="../" class="tabs">Others Months</a> | <a href="index.html#00299" class="tabs">Index by Date</a> | <a href="threads.html#00299" class="tabs">Thread Index</a><br />
<span class="smaller">&gt;&gt;&nbsp;&nbsp;
[<a href="msg00298.html">Date Prev</a>] [<a href="msg00300.html">Date Next</a>] [<a href="msg00298.html">Thread Prev</a>] [<a href="msg00300.html">Thread Next</a>]
</div>

<!--X-TopPNI-End-->
<!--X-MsgBody-->
<!--X-Subject-Header-Begin-->
<h3><a name="header" href="#header">Header</a></h3>
<!--X-Subject-Header-End-->
<!--X-Head-of-Message-->
<ul class="headdata">
<li class="menuitem">
<em>To</em>: relax-commits@xxxxxxx</li>
<li class="menuitem">
<em>Date</em>: Thu, 21 Aug 2014 12:52:24 -0000</li>
<li class="menuitem">
<em>Message-id</em>: &lt;<a href="msg00299.html">E1XKRqq-0001SJ-Fb@subversion.gna.org</a>&gt;</li>
</ul>
<!--X-Head-of-Message-End-->
<!--X-Head-Body-Sep-Begin-->
</div><!-- end headdata -->
<br />
<h3><a name="content" href="#content">Content</a></h3>
<div class="postedby">Posted by <strong>edward</strong> on August 21, 2014 - 14:52:</div>
<div class="msgdata">
<!--X-Head-Body-Sep-End-->
<!--X-Body-of-Message-->
<pre style="margin: 0em;">Author: bugman
Date: Thu Aug 21 14:52:24 2014
New Revision: 25165

URL: <a  rel="nofollow" href="http://svn.gna.org/viewcvs/relax?rev=25165&amp;view=rev">http://svn.gna.org/viewcvs/relax?rev=25165&amp;view=rev</a>
Log:
Converted the relaxation dispersion GUI interface to the unified 'No Rex' 
model.

All of the MODEL_NOREX_R1RHO references have simply been deleted.

Modified:
    trunk/gui/analyses/auto_relax_disp.py

Modified: trunk/gui/analyses/auto_relax_disp.py
URL: 
<a  rel="nofollow" href="http://svn.gna.org/viewcvs/relax/trunk/gui/analyses/auto_relax_disp.py?rev=25165&amp;r1=25164&amp;r2=25165&amp;view=diff">http://svn.gna.org/viewcvs/relax/trunk/gui/analyses/auto_relax_disp.py?rev=25165&amp;r1=25164&amp;r2=25165&amp;view=diff</a>
==============================================================================
--- trunk/gui/analyses/auto_relax_disp.py       (original)
+++ trunk/gui/analyses/auto_relax_disp.py       Thu Aug 21 14:52:24 2014
@@ -48,7 +48,7 @@
 from pipe_control.mol_res_spin import exists_mol_res_spin_data, spin_loop
 from pipe_control.pipes import has_bundle, has_pipe
 from specific_analyses.relax_disp.data import has_cpmg_exp_type, 
has_r1rho_exp_type
-from specific_analyses.relax_disp.variables import MODEL_B14, 
MODEL_B14_FULL, MODEL_CR72, MODEL_CR72_FULL, MODEL_DPL94, MODEL_IT99, 
MODEL_LIST_CPMG, MODEL_LIST_R1RHO, MODEL_LM63, MODEL_LM63_3SITE, MODEL_M61, 
MODEL_M61B, MODEL_MMQ_CR72, MODEL_MP05, MODEL_NOREX, MODEL_NOREX_R1RHO, 
MODEL_NS_CPMG_2SITE_3D, MODEL_NS_CPMG_2SITE_3D_FULL, 
MODEL_NS_CPMG_2SITE_EXPANDED, MODEL_NS_CPMG_2SITE_STAR, 
MODEL_NS_CPMG_2SITE_STAR_FULL, MODEL_NS_MMQ_2SITE, MODEL_NS_MMQ_3SITE, 
MODEL_NS_MMQ_3SITE_LINEAR, MODEL_NS_R1RHO_2SITE, MODEL_NS_R1RHO_3SITE, 
MODEL_NS_R1RHO_3SITE_LINEAR, MODEL_R2EFF, MODEL_TAP03, MODEL_TP02, 
MODEL_TSMFK01
+from specific_analyses.relax_disp.variables import MODEL_B14, 
MODEL_B14_FULL, MODEL_CR72, MODEL_CR72_FULL, MODEL_DPL94, MODEL_IT99, 
MODEL_LIST_CPMG, MODEL_LIST_R1RHO, MODEL_LM63, MODEL_LM63_3SITE, MODEL_M61, 
MODEL_M61B, MODEL_MMQ_CR72, MODEL_MP05, MODEL_NOREX, MODEL_NS_CPMG_2SITE_3D, 
MODEL_NS_CPMG_2SITE_3D_FULL, MODEL_NS_CPMG_2SITE_EXPANDED, 
MODEL_NS_CPMG_2SITE_STAR, MODEL_NS_CPMG_2SITE_STAR_FULL, MODEL_NS_MMQ_2SITE, 
MODEL_NS_MMQ_3SITE, MODEL_NS_MMQ_3SITE_LINEAR, MODEL_NS_R1RHO_2SITE, 
MODEL_NS_R1RHO_3SITE, MODEL_NS_R1RHO_3SITE_LINEAR, MODEL_R2EFF, MODEL_TAP03, 
MODEL_TP02, MODEL_TSMFK01
 from status import Status; status = Status()
 
 
@@ -715,7 +715,6 @@
         MODEL_R2EFF,
         None,
         MODEL_NOREX,
-#        MODEL_NOREX_R1RHO,
         None,
         MODEL_LM63,
         MODEL_LM63_3SITE,
@@ -750,7 +749,6 @@
         &quot;{%s/%s, %s}&quot; % (r2eff, r1rho, i0),
         None,
         &quot;{%s, ...}&quot; % (r2),
-#        &quot;{%s, ...}&quot; % (r2),
         None,
         &quot;{%s, ..., %s, %s}&quot; % (r2, phi_ex, kex),
         &quot;{%s, ..., %s, kB, %s, kC}&quot; % (r2, phi_exB, phi_exC),
@@ -785,7 +783,6 @@
         &quot;The base model for determining the %s/%s values and errors for all 
other models.&quot; % (r2eff, r1rho),
         None,
         &quot;The model for no chemical exchange relaxation.&quot;,
-#        &quot;The model for no chemical exchange being present, for 
off-resonance R1rho-type experiments.  R1rho = R1 * cos(theta)^2 + 
r1rho_prime * sin(theta)^2.&quot;,
         None,
         &quot;The original Luz and Meiboom (1963) 2-site fast exchange equation.&quot;,
         &quot;The original Luz and Meiboom (1963) 3-site fast exchange equation.&quot;,



</pre>
<!--X-Body-of-Message-End-->
<!--X-MsgBody-End-->
<!--X-Follow-Ups-->
</div><!-- end msgdata -->
<br />
<h3><a name="related" href="#related">Related Messages</a></h3>
<div class="relateddata">
<!--X-Follow-Ups-End-->
<!--X-References-->
<!--X-References-End-->
<!--X-BotPNI-->
</div><!-- end relateddata -->
<!-- NoBotLinksApartFromRelatedMessages -->

<!--X-BotPNI-End-->
<!--X-User-Footer-->
<!--X-User-Footer-End-->
<div class="footer"></div><br />
<div class="right">Powered by <a href="http://www.mhonarc.org">MHonArc</a>, Updated Thu Aug 21 15:00:03 2014</div>  
</body>
</html>
